@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   width: 100%;
    height: 100%;
}

header {
    background-color: #fff;
    color: white;
    padding: 1rem 0;
    text-align: center;
    padding-left: 10px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5%;  
    background-size: 15%;
     height: 30px; 
     margin-top: 1%;
    position: sticky;
      top: 0;
    left: 0;
 
}

nav ul {
    list-style: none;
   padding: 0px 10px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    column-gap: 10px;
    display: flex;
   padding-left: 0%;
    font-size: large;
   
}

nav ul li {
    display: inline;
    margin: 0 1em;
   position: relative;
}
nav ul li a:hover,
nav ul li a.active {
    color: #888787;
}
nav ul li a.active::after{
    content: "";
    width: 40%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 5px;
}
nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.one{
    position: absolute;
    left: 75%;
    margin-left: 60px;
    color: #333;
    justify-content: space-between;
    display: flex;
    margin-top: 1%;
    font-weight: bold;
    size: 10px;
    column-gap: 7px;
}
.one li a:hover{
    color: #888787;
}

.section-p1{
    padding:40px 80px;
}

#page-header{
    background-image: url(b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
#page-header h2{
    color: white;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: flex-start;
   margin-bottom: -30px;
}
#page-header h6{
    align-items: center;
    justify-content: center;
    display: flex;
font-size: 20px;
font-weight: lighter;
color: #fff;
font-family: 'Times New Roman', Times, serif;
margin-bottom: 0px;

}

#product1{
text-align: center;

}
#product1 h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
   margin-top: -1%;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

#product1 .pro {
width:21%;
min-width: 250px;
padding: 10px 12px;
border: 1px solid #cce7d0;
border-radius: 25px;
cursor: pointer;
box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
margin: 15px 0;
transition: 0.2s ease;
position: relative;


}
#product1 .pro:hover{
box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 90%;
 border-radius: 20px;

}
#product1 .pro .des {
text-align: start;
 padding: 5px 0;  
}
 #product1 .pro .des span {
color: #7f7f81;
font-size: 15px;
padding-bottom: 0;
}
#product1 .pro .des h5{
padding-top: 5px;
color:#1a1a1a;
font-size: 14px;
}
#product1 .pro .des i {
font-size: 12px;
color: rgb(243, 181, 25);
}
    
#product1 .pro .des h4 {
 padding-top: 5px;
font-size: 15px;
font-weight: 700;
color: #088178;
 }
    
 #product1 .pro .cart{
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50px;
background-color:#ccebe9;
font-weight: 500;
color: #088178;
border: 1px solid cce7d0;
position: absolute;
bottom: 20px;
right: 10px; 
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.icons-row-wrapper{
    display: flex;
    justify-content: space-between;
   margin-top: 0%;
   flex-wrap: wrap;
   background-color: #2b2d3c;
}

.icons-row-wrapper .icons-row__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
     align-items: flex-start;
     width: 370px;
     height: 30vh;
     padding: 20px;
     margin-bottom: 20px;
}

.icons-row-wrapper .icons-row__item:nth-child(4) h3{
margin-left: 50%;

}
.icons-row-wrapper .icons-row__item:nth-child(5) h3{
margin-left: -60%;

}
.icons-row-wrapper .icons-row__item:nth-child(4) p{
margin-right: -60%;
padding-left: 30%;

}
.icons-row-wrapper .icons-row__item:nth-child(4) span{
    padding-left: 70%;
}
.icons-row-wrapper .icons-row__item:nth-child(5) span{
    margin-left: -60%;
}
.icons-row-wrapper .icons-row__item:nth-child(5) p{
    margin-left: -60%;
}
.icons-row-wrapper .icons-row__item:nth-child(3) p{
    padding-right: 40px;
    margin-left: -60px;
}
.icons-row-wrapper .icons-row__item span{
   font-size: 40px;
   color: white;
   padding-left: 30%;
}
.icons-row-wrapper .icons-row__item h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.icons-row-wrapper .icons-row__item p{
    color: rgb(226, 222, 222);
   margin-top: -1%;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;

}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img {
 border: 1px solid #088178;
    border-radius: 6px;
    }
footer .install img {
     margin: 10px 0 15px 0;
    }
footer .follow i:hover,
footer a:hover {
     color: #088178;
    }
 footer .copyright{
text-align: center;
width: 100%;
    }